<h1> SI200 Final Exam</h1>

This is the SI200 final exam. This notebook will require you to answer questions in text blocks, as well as execute some python code, access a mySQL database (you should have mySQL Workbench open), and write/debug some PHP (Komodo edit!).

Don't get bogged down on any one question. Answer the questions that you know first, then go back and attack the remainders.

Remember, you can always add an extra cell to this notebook if you are writing code. However, ensure that your answers are immediately below a question, or, in the case of python, in the cell that uses comments to ask a question. You'll see examples below.

## This is an open-class-notes exam. 
*However, this does NOT mean you can use all of the internet to search for solutions. If I find an open google or stack-exchange browser window open during the exam, you get an automatic 0.*

**Enter your name and alpha in the text block below.** Also, change the name of this notebook by adding your name-malpha so that the notebook is named:
`SI200-final-myName-m00000.ipynb`

# HTML
In this section you need to fix and write some HTML. You can cut/paste code from the questions into a seperate file and use your browser to correct it, if you need to. Paste the corrected HTML in the empty cell below each question.

1 - While this will likely work, it should be fixed. Type (or cut/paste and update) the CORRECTED HTML for this statement below. 2pts
```
<b><i>bolded and italicized text</b></i>
```

2- Where does the information in the tag `<title>` get displayed? 2pts
```
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  Stuff that actually appears on the web page goes here!
</body>
</html>

```

3-Given this head-start, write the HTML to generate a form with the following list of boats in a **drop-down** list.


*   Dolphin
*   SeaRay
*   Leopard
*   Lagoon


```
<form>
Select your fav boat:<br>
<select name="boats">
...
</form>
```
5 pts

4- Given the following CSS,
```
div.absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    right: 10px;
    border: 1px solid blue;
}
```
Rewrite the HTML so that it uses this CSS to position the text in the paragraph in an HTML element that is positioned at 50 pix from the top and 10 from the right edge of the browswer screen.
```
<h1>Make the stuff below appear </h1>
<p>
Use a new tag to reposition me as specified in the CSS. You should be able to do this with one new tag!
</p>
```
5 pts

# mySQL
For these questions you will need to access your mySQL Workbench and **your** database. Make sure it is selected in the left hand pane.

Question 0 below is an example of how to answer...

0- Write a query to select all fields from the Owners table.

select * from Owners;

1- Write the mySQL statement to show all the tables in YOUR database.<br>Paste the statement AND the resulting names of the tables. 

You can do the query in mySQL Workbench and select the resulting list of tables from the output frame, copy, and paste them in the cell below... 3 pts

2- Write the query, below this cell, that would select all fields from the MarinaSlip table. 2pts

3- Write the query to display only the *BoatName* and *BoatType* from *MarinaSlip*. 2pts

4- Write the query to display the *BoatName* and Owner *LastName* from the appropriate tables. 5pts

5- Write a query to display the Owner's *LastName* for only Dolphin owners (this include all types of Dolphins). 5 pts

6- Write a query that returns the Owners First and Last name for boats that are longer than 35'. 5 pts

# PHP and HTML
You can use Komodo Edit and a folder on your `midn.cs.usna.edu` server to write/test your code when answering these questions.

1- Write the html tags that are used to specify the code enclosed is PHP. 2pts

e.g. - *\<h1\>* \</h1\> are used the html tags used to specify a header, level 1. PHP uses a very specific tag.

2- Given the code below,

```
<form action="handleIt.php" method="post">
        FirstName: <input type="text" name="fname"><br>
        LastName: <input type="text" name="lname"><br>
        <input type="submit">
</form>
```
identify the file that will receive the information specified in the form. 2pts

3- Given the code above assume I enter "John Doe" into the form and press "submit". Write the PHP expression (assume it is in the file targeted by the form) that will generate the following output:

<h1>Hello John Doe! Welcome to my website!</h1>

(the above is a level 1 header in HTML) 3 pts

4- Given this PHP connection to a database, along with a query: 
```
<?php
    require_once('mysql.inc.php');    # MySQL Connection Library 
    $db = new myConnectDB();          # Connect to MySQL
    if (mysqli_connect_errno()) {
      echo "ERROR DURING CONNECT<br>";
    }
    
    $query = "SELECT LastName, City FROM Owner";
    $stmt = $db->stmt_init();
    $stmt->prepare($query);
    
    $success = $stmt->execute();
    ## Your code goes here
?>
```
write the code (below) to generate a table from the results. 8 pts

5- Given the code below, how would I access EACH of the variables (explicitly) in the file `cust_insert.php`?
```
<form name="cust" method="GET" action="cust_insert.php">
  First Name:<br> 
  <input type="text" name="fname"><br>
  Last Name:<br>
  <input type="text" name="lname"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Phone:<br>
  <input type="text" name="phone"><br>
  <input type="submit" action="submit" value="Add a customer">
</form>
```
Hint -- I'm asking you to access and associative array with 4 elements. You don't have to put the php tag in your answer... 
5 pts

# Javascript

1- Is Javascript run on the server side or client side? 2pts

2- Briefly explain what your answer means. 2pts

# Python

Cells that are marked with `[ ]` are executable and **you need to execute these before answering the questions**.

For this section, as with the others, **you CAN USE CLASS NOTES. HOWEVER, DO NOT GOOGLE FOR ANSWERS!**

e.g. - Execute each of the cells in order to ensure you have the pandas and matplotlib libraries loaded, as well as the data in <code>california_housing_train.csv</code>.

In [ ]:
import pandas as pd
import matplotlib.pylab as plt

In [ ]:
# This dataset contains information about homes in cities centered on a particular lat/long.
# This is sample data included with colab so you do not need to connect to you
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

## Short answers

The following can all be answered with one function applied to the DataFrame df as described in the first question below. 

Put your answer write in the cell with the comments -- i.e.` # this is a comment`

In [ ]:
# Using the pandas feature to peak at the DataFrame 'df', display the first few rows.
# Your answer should be one statement, a function that you execute on df like "df.func()",
# where "func()" is a built in pandas function. 2pts

In [ ]:
# How many rows (records) are in this dataset? 2pts

In [ ]:
# Select and output the housing_median_age DataSeries (column) from df. 2pts

In [ ]:
# What is the average of "housing_median_age" across all the data? 3pts

In [ ]:
# How many rooms are there across all locations? 2pts

In [ ]:
# What's the mean (ave) number of rooms per city? 2pts

In [ ]:
# What's the highest median_income? 2pts

## More Pandas

For some these questions you will have to select out a subset of rows, then apply a function. However, many are still one-line answers. Use class notes, try your solution. If it doesn't work, edit the cell and try again! Take small bites... build your expressions in a stepwize fashion.

In [ ]:
# How many rooms are there at the first location (first row, row 0)? 2pts

In [ ]:
# How many rooms are there at location(s) with the highest median_income? 4pts
# You may want to assign a variable to the value for the highest median_income and use that to 
# access rows of df.

In [ ]:
# Select and output only rows where the median_income is greater than 10. 2pts

In [ ]:
# Select and output total_bedrooms where the median_income is greater than 10. 2pts

In [ ]:
# Select and output total_bedrooms where the median_income is greater than 10. 2pts

In [ ]:
# Display rows for locations with more than 500 total_bedrooms AND median_income less than 10. 3pts

# Matplotlib

In [ ]:
# Generate a histogram of the median_house_value. 2pts

In [ ]:
# Generate a histogram of the median_income for median_income > 10. 3pts

In [ ]:
# Generate a scatter plot of all latitudes (y-axis) vs longitudes (x-axis). 4 pts
# Bonus, what state does this resemble? 1pt